@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button,
[role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html,
.font-sans {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: "IBM Plex Sans Arabic" !important;
}

.text-creepy {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .sm-10-width {
    width: 10rem !important;
  }
  .sm-15-height {
    height: 15rem !important;
  }
}
